.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #010101;
}

@keyframes skLinRotate {

  95%,
  100% {
    transform: rotate(840deg)
  }
}

.cat-info {
  width: 400px;
}

.breed-select {
  background-position: 95% 50%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 20px;
  width: 220px;
  height: 30px;
}

select>option {
  background-color: transparent;
  border: 0;

  padding-right: 15px;
  height: 31px;
  width: 220px;
}

.breed-select>select {
  width: 100%;
  color: black;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2.5;
  background: transparent;
  border: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}